.headerLink {
  font-family: 'Mantinia', serif;
  font-size: 36px;
  color: #621D5B;
}

.headerLink:hover {
  color: #ffffff;
}

.gapMarker{
    width: 101px;
    height: 36px;
}

.gameLogo{
    width: 260px;
    height: 167px;
}

.backGround{
    background-color: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));;
    height: 515px;
    width: 1920px;
}