/* === FONT IMPORT === */
@font-face {
  font-family: 'Mantinia';
  src: url('../../assets/fonts/Mantinia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* === MAIN CONTAINER === */
.aboutContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
  border: none;
}

.aboutTitle {
  width: 200px; 
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* === TITLE SECTION === */
.titleWrapper {
  text-align: center;
  margin-bottom: 3rem;
}

.heading {
  font-family: 'Mantinia', serif;
  font-size: 5rem;
  color: #dcdcdc;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.titleLine {
  width: 550px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* === CONTENT === */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
  overflow-x: hidden;
}
/* === CAROUSEL === */
.carousel {
  flex: none;
  width: 697px;
  height: 392px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  box-shadow: none;
}

.track {
  display: flex;
  width: max-content;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
}


/* === TEXT === */

.textSection {
    font-family: "Mantinia", serif;
    flex: 1 1 914px;
    max-width: 914px;
    height: auto;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    word-break: break-word;
}


/* === RESPONSIVE === */
@media (max-width: 1400px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    width: 90%;
  }

  .textSection {
    width: 90%;
    text-align: center;
  }

  .titleLine {
    width: 80%;
  }
}

